@font-face {
  font-family: IranYekan;
  src: url("./assets/fonts/IRANYekanWebRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: IranYekan !important;
}

body {
  margin: 0;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fullHeight {
  min-height: 100vh;
}
